<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Teleprompter</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="teleprompter-wrapper">
        <div id="teleprompterDisplay" class="teleprompter-container" contenteditable="true" spellcheck="false">
            <!-- Text will be populated by JavaScript -->
        </div>
        
        <div class="control-bar">
            <div class="control-group">
                <label for="fontSize">Font Size:</label>
                <div class="slider-group">
                    <input type="range" id="fontSize" min="16" max="72" value="40">
                    <span id="fontSizeValue">40px</span>
                </div>
            </div>
            
            <div class="control-group">
                <label for="textWidth">Width:</label>
                <div class="slider-group">
                    <input type="range" id="textWidth" min="400" max="1600" value="800" step="50">
                    <span id="textWidthValue">800px</span>
                </div>
            </div>
            
            <div class="button-group">
                <button id="startButton" class="button button-primary">Start</button>
                <button id="stopButton" class="button button-danger" disabled>Stop</button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html> 